@page "/counter"
<PageTitle>Counter</PageTitle>

<div hx-include="*[name]" hx-target="#searchResults" class="flex flex-col sm:flex-row sm:justify-end sm:items-center mb-3">
                <div class="flex items-center space-x-2 grow">
                    <input  hx-get="/search" 
                            hx-trigger="load, input changed delay:200ms"
                            hx-swap="innerHTML" type="text" name="searchParam" placeholder="Search..." autocomplete="off"
                            class="focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm text-sm border-gray-300 rounded-md">
                </div>
            </div>

            <div class="py-3" id="searchResults">
            </div>